@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    overflow: hidden;
}



.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./img/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
   
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
   
    
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.cabeçalho-link a{
    color: #fff;
    font-size: 12px;
}

.cabeçalho-link a:hover{
    color:  crimson;
    transition: 0.3s all;
}

.logo i{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px crimson;
    color: crimson;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.logo h2{
    color: crimson;

}
.logo span{
    color: #fff;
}


button{
    color: #fff;
    background: transparent;
    border:solid 1px #fff;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
}

button:hover{
    background-color: crimson;
    color: #fff;
    transition: 0.5s;
}

.container-text{
    padding: 150px 0 0 130px;
}

.title h2{
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.text h3{
    color: #fff;
    font-size: 20px;
    margin: 20px;
}

.text h1{
    color: #fff;
    margin-top: 30px;
}

.text span{
    color: crimson; 
}


.text p{
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
    font-size: 10px;
    
}
    h1{
        color: #fff;
        margin: 5px 0px 5px;
        font-size: 50px;
    }
    
    h3{
        color: #fcfc;
        letter-spacing: 2px;
        font-size: 20px;
        margin-bottom: 50px;
    }
    
    
.Container-btn form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.Container-btn form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    border-radius: 30px;
    outline: none;
}

.Container-btn form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    right: 6px;
    top: 6px;
    
}

.redes-social{
    margin-top: 20px;
}

.redes-social a{
    color: crimson;
    padding: 10px;
    margin-top: 5px;
}

.btn{
    margin-top: 30px;
}

@media screen and (max-width:600px){
    .cabeçalho-link {
        display: none;
    }
    
}
